<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="../Css/campusevent.css">
    <link rel="stylesheet" href="../Css/adminlogin.css">
</head>

<body>
    <header>
        <h1>Campus Event Hub</h1>
        <nav>
            <ul>
                <li><a href="campusevent.html">Home</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="createEvent.html">Create Event</a></li>
                <li><a href="adminlogin.html">Admin</a></li>
                <li><a href="login.html">Login</a></li>
                <li><a href="sign-up.html">Sign-up</a></li>